<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>19.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,4},{340,258}}</string>
        <key>offset</key>
        <string>{-18,-44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{57,115},{340,258}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>17.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,270},{334,255}}</string>
        <key>offset</key>
        <string>{-35,46.5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{43,26},{334,255}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>18.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,270},{425,188}}</string>
        <key>offset</key>
        <string>{18.5,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{51,106},{425,188}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>20.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,4},{302,241}}</string>
        <key>offset</key>
        <string>{-35,-38.5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{59,118},{302,241}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>25.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,466},{281,239}}</string>
        <key>offset</key>
        <string>{-53.5,-24.5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{51,105},{281,239}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>24.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,533},{287,233}}</string>
        <key>offset</key>
        <string>{-45.5,-30.5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{56,114},{287,233}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>26.png</key>
      <dict>
        <key>frame</key>
        <string>{{299,713},{278,238}}</string>
        <key>offset</key>
        <string>{-59,-16}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{47,97},{278,238}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>21.png</key>
      <dict>
        <key>frame</key>
        <string>{{662,4},{290,227}}</string>
        <key>offset</key>
        <string>{-40,-33.5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{60,120},{290,227}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>22.png</key>
      <dict>
        <key>frame</key>
        <string>{{585,713},{293,224}}</string>
        <key>offset</key>
        <string>{-37.5,-33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{61,121},{293,224}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>23.png</key>
      <dict>
        <key>frame</key>
        <string>{{635,466},{294,223}}</string>
        <key>offset</key>
        <string>{-37,-32.5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{61,121},{294,223}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>27.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,774},{275,232}}</string>
        <key>offset</key>
        <string>{-60.5,-6}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{47,90},{275,232}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>28.png</key>
      <dict>
        <key>frame</key>
        <string>{{585,945},{274,221}}</string>
        <key>offset</key>
        <string>{-60,6.5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{48,83},{274,221}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>29.png</key>
      <dict>
        <key>frame</key>
        <string>{{779,239},{274,204}}</string>
        <key>offset</key>
        <string>{-59,20}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{49,78},{274,204}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>30.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,959},{271,200}}</string>
        <key>offset</key>
        <string>{-58.5,26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{51,74},{271,200}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>31.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,1014},{264,203}}</string>
        <key>offset</key>
        <string>{-59,27.5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{54,71},{264,203}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>00.png</key>
      <dict>
        <key>frame</key>
        <string>{{960,4},{247,206}}</string>
        <key>offset</key>
        <string>{-61.5,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{60,68},{247,206}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>01.png</key>
      <dict>
        <key>frame</key>
        <string>{{867,945},{245,206}}</string>
        <key>offset</key>
        <string>{-64.5,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{58,68},{245,206}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>08.png</key>
      <dict>
        <key>frame</key>
        <string>{{937,451},{201,251}}</string>
        <key>offset</key>
        <string>{-103.5,51.5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{41,23},{201,251}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>07.png</key>
      <dict>
        <key>frame</key>
        <string>{{1120,710},{195,257}}</string>
        <key>offset</key>
        <string>{-103.5,54.5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{44,17},{195,257}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>09.png</key>
      <dict>
        <key>frame</key>
        <string>{{1120,975},{201,243}}</string>
        <key>offset</key>
        <string>{-105.5,47.5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{39,31},{201,243}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>02.png</key>
      <dict>
        <key>frame</key>
        <string>{{1061,218},{237,206}}</string>
        <key>offset</key>
        <string>{-70.5,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{56,68},{237,206}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>05.png</key>
      <dict>
        <key>frame</key>
        <string>{{867,1159},{202,241}}</string>
        <key>offset</key>
        <string>{-95,46.5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{49,33},{202,241}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>04.png</key>
      <dict>
        <key>frame</key>
        <string>{{886,710},{220,220}}</string>
        <key>offset</key>
        <string>{-84,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{51,54},{220,220}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>06.png</key>
      <dict>
        <key>frame</key>
        <string>{{1077,1226},{187,254}}</string>
        <key>offset</key>
        <string>{-104.5,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{47,20},{187,254}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>03.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,1167},{231,205}}</string>
        <key>offset</key>
        <string>{-75.5,28.5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{54,69},{231,205}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>10.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,1225},{196,232}}</string>
        <key>offset</key>
        <string>{-111,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{36,42},{196,232}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>11.png</key>
      <dict>
        <key>frame</key>
        <string>{{515,1174},{189,216}}</string>
        <key>offset</key>
        <string>{-118.5,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{32,59},{189,216}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>12.png</key>
      <dict>
        <key>frame</key>
        <string>{{1215,4},{186,206}}</string>
        <key>offset</key>
        <string>{-131,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{21,70},{186,206}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>15.png</key>
      <dict>
        <key>frame</key>
        <string>{{1272,1226},{171,222}}</string>
        <key>offset</key>
        <string>{-138.5,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{21,57},{171,222}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>14.png</key>
      <dict>
        <key>frame</key>
        <string>{{1146,432},{174,218}}</string>
        <key>offset</key>
        <string>{-140,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{18,60},{174,218}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>16.png</key>
      <dict>
        <key>frame</key>
        <string>{{1323,658},{169,223}}</string>
        <key>offset</key>
        <string>{-137.5,31.5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{23,57},{169,223}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>13.png</key>
      <dict>
        <key>frame</key>
        <string>{{1329,889},{175,212}}</string>
        <key>offset</key>
        <string>{-140.5,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{17,65},{175,212}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false />
      <key>realTextureFileName</key>
      <string>boss1Attack.png</string>
      <key>size</key>
      <string>{1508,1484}</string>
      <key>textureFileName</key>
      <string>boss1Attack</string>
    </dict>
  </dict>
</plist>