<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>18.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,4},{349,168}}</string>
        <key>offset</key>
        <string>{-35.5,-15}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{35,131},{349,168}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>30.png</key>
      <dict>
        <key>frame</key>
        <string>{{361,4},{223,184}}</string>
        <key>offset</key>
        <string>{-86.5,17}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{47,91},{223,184}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>17.png</key>
      <dict>
        <key>frame</key>
        <string>{{592,4},{319,186}}</string>
        <key>offset</key>
        <string>{-57.5,14}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{28,93},{319,186}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>29.png</key>
      <dict>
        <key>frame</key>
        <string>{{919,4},{230,187}}</string>
        <key>offset</key>
        <string>{-91,7.5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{39,99},{230,187}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>31.png</key>
      <dict>
        <key>frame</key>
        <string>{{1157,4},{217,192}}</string>
        <key>offset</key>
        <string>{-83.5,21}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{53,83},{217,192}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>28.png</key>
      <dict>
        <key>frame</key>
        <string>{{1382,4},{233,193}}</string>
        <key>offset</key>
        <string>{-93.5,-5.5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{35,109},{233,193}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>25.png</key>
      <dict>
        <key>frame</key>
        <string>{{1623,4},{250,197}}</string>
        <key>offset</key>
        <string>{-88,-34.5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{32,136},{250,197}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>26.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,180},{242,197}}</string>
        <key>offset</key>
        <string>{-92,-26.5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{32,128},{242,197}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>27.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,196},{236,197}}</string>
        <key>offset</key>
        <string>{-94,-16.5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{33,118},{236,197}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>00.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,198},{209,198}}</string>
        <key>offset</key>
        <string>{-80.5,24}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{60,77},{209,198}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>01.png</key>
      <dict>
        <key>frame</key>
        <string>{{715,199},{211,200}}</string>
        <key>offset</key>
        <string>{-79.5,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{60,75},{211,200}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>02.png</key>
      <dict>
        <key>frame</key>
        <string>{{934,199},{215,201}}</string>
        <key>offset</key>
        <string>{-79.5,25.5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{58,74},{215,201}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>03.png</key>
      <dict>
        <key>frame</key>
        <string>{{1157,204},{217,202}}</string>
        <key>offset</key>
        <string>{-81.5,26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{55,73},{217,202}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>04.png</key>
      <dict>
        <key>frame</key>
        <string>{{1382,205},{215,202}}</string>
        <key>offset</key>
        <string>{-85.5,26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{52,73},{215,202}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>05.png</key>
      <dict>
        <key>frame</key>
        <string>{{1605,209},{206,202}}</string>
        <key>offset</key>
        <string>{-92,26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{50,73},{206,202}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>06.png</key>
      <dict>
        <key>frame</key>
        <string>{{1819,209},{195,205}}</string>
        <key>offset</key>
        <string>{-100.5,27.5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{47,70},{195,205}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>13.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,385},{166,208}}</string>
        <key>offset</key>
        <string>{-134,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{28,68},{166,208}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>24.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,401},{258,205}}</string>
        <key>offset</key>
        <string>{-81,-33.5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{35,131},{258,205}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>21.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,404},{261,208}}</string>
        <key>offset</key>
        <string>{-75.5,-32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{39,128},{261,208}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>22.png</key>
      <dict>
        <key>frame</key>
        <string>{{713,408},{263,209}}</string>
        <key>offset</key>
        <string>{-73.5,-30.5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{40,126},{263,209}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>23.png</key>
      <dict>
        <key>frame</key>
        <string>{{984,414},{264,210}}</string>
        <key>offset</key>
        <string>{-73,-29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{40,124},{264,210}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>12.png</key>
      <dict>
        <key>frame</key>
        <string>{{1256,415},{175,212}}</string>
        <key>offset</key>
        <string>{-127.5,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{30,63},{175,212}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>20.png</key>
      <dict>
        <key>frame</key>
        <string>{{1439,419},{267,213}}</string>
        <key>offset</key>
        <string>{-73.5,-37.5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{38,131},{267,213}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>14.png</key>
      <dict>
        <key>frame</key>
        <string>{{1714,422},{167,214}}</string>
        <key>offset</key>
        <string>{-134.5,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{27,63},{167,214}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>15.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,614},{169,217}}</string>
        <key>offset</key>
        <string>{-135.5,30.5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{25,61},{169,217}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>07.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,614},{191,218}}</string>
        <key>offset</key>
        <string>{-105.5,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{44,57},{191,218}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>16.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,620},{170,219}}</string>
        <key>offset</key>
        <string>{-136,30.5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{24,60},{170,219}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>19.png</key>
      <dict>
        <key>frame</key>
        <string>{{558,625},{288,221}}</string>
        <key>offset</key>
        <string>{-63,-44.5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{38,134},{288,221}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>11.png</key>
      <dict>
        <key>frame</key>
        <string>{{854,632},{186,223}}</string>
        <key>offset</key>
        <string>{-119,36.5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{33,52},{186,223}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>08.png</key>
      <dict>
        <key>frame</key>
        <string>{{1048,632},{198,228}}</string>
        <key>offset</key>
        <string>{-105,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{41,47},{198,228}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>10.png</key>
      <dict>
        <key>frame</key>
        <string>{{1254,640},{194,230}}</string>
        <key>offset</key>
        <string>{-112,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{36,45},{194,230}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
      <key>09.png</key>
      <dict>
        <key>frame</key>
        <string>{{1456,640},{199,232}}</string>
        <key>offset</key>
        <string>{-107.5,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{38,43},{199,232}}</string>
        <key>sourceSize</key>
        <string>{490,400}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false />
      <key>realTextureFileName</key>
      <string>boss3Attack.png</string>
      <key>size</key>
      <string>{2018,876}</string>
      <key>textureFileName</key>
      <string>boss3Attack</string>
    </dict>
  </dict>
</plist>