<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>11.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,4},{63,67}}</string>
        <key>offset</key>
        <string>{-4.5,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{21,11},{63,67}}</string>
        <key>sourceSize</key>
        <string>{114,95}</string>
      </dict>
      <key>10.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,4},{63,67}}</string>
        <key>offset</key>
        <string>{-4.5,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{21,11},{63,67}}</string>
        <key>sourceSize</key>
        <string>{114,95}</string>
      </dict>
      <key>09.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,79},{63,66}}</string>
        <key>offset</key>
        <string>{-4.5,3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{21,11},{63,66}}</string>
        <key>sourceSize</key>
        <string>{114,95}</string>
      </dict>
      <key>12.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,4},{62,67}}</string>
        <key>offset</key>
        <string>{-4,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{22,11},{62,67}}</string>
        <key>sourceSize</key>
        <string>{114,95}</string>
      </dict>
      <key>14.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,153},{61,68}}</string>
        <key>offset</key>
        <string>{-3.5,3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23,10},{61,68}}</string>
        <key>sourceSize</key>
        <string>{114,95}</string>
      </dict>
      <key>08.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,153},{62,66}}</string>
        <key>offset</key>
        <string>{-5,4.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{21,10},{62,66}}</string>
        <key>sourceSize</key>
        <string>{114,95}</string>
      </dict>
      <key>13.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,79},{61,67}}</string>
        <key>offset</key>
        <string>{-3.5,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23,11},{61,67}}</string>
        <key>sourceSize</key>
        <string>{114,95}</string>
      </dict>
      <key>07.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,154},{61,66}}</string>
        <key>offset</key>
        <string>{-4.5,4.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{22,10},{61,66}}</string>
        <key>sourceSize</key>
        <string>{114,95}</string>
      </dict>
      <key>17.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,79},{60,67}}</string>
        <key>offset</key>
        <string>{-4,5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23,9},{60,67}}</string>
        <key>sourceSize</key>
        <string>{114,95}</string>
      </dict>
      <key>15.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,4},{60,67}}</string>
        <key>offset</key>
        <string>{-4,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23,10},{60,67}}</string>
        <key>sourceSize</key>
        <string>{114,95}</string>
      </dict>
      <key>06.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,154},{61,65}}</string>
        <key>offset</key>
        <string>{-4.5,5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{22,10},{61,65}}</string>
        <key>sourceSize</key>
        <string>{114,95}</string>
      </dict>
      <key>16.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,79},{60,66}}</string>
        <key>offset</key>
        <string>{-4,4.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23,10},{60,66}}</string>
        <key>sourceSize</key>
        <string>{114,95}</string>
      </dict>
      <key>18.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,227},{59,66}}</string>
        <key>offset</key>
        <string>{-4.5,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23,9},{59,66}}</string>
        <key>sourceSize</key>
        <string>{114,95}</string>
      </dict>
      <key>19.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,229},{59,66}}</string>
        <key>offset</key>
        <string>{-4.5,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23,9},{59,66}}</string>
        <key>sourceSize</key>
        <string>{114,95}</string>
      </dict>
      <key>04.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,227},{60,64}}</string>
        <key>offset</key>
        <string>{-5,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{22,10},{60,64}}</string>
        <key>sourceSize</key>
        <string>{114,95}</string>
      </dict>
      <key>03.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,228},{60,64}}</string>
        <key>offset</key>
        <string>{-5,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{22,10},{60,64}}</string>
        <key>sourceSize</key>
        <string>{114,95}</string>
      </dict>
      <key>05.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,79},{60,64}}</string>
        <key>offset</key>
        <string>{-5,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{22,10},{60,64}}</string>
        <key>sourceSize</key>
        <string>{114,95}</string>
      </dict>
      <key>20.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,4},{59,64}}</string>
        <key>offset</key>
        <string>{-4.5,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23,10},{59,64}}</string>
        <key>sourceSize</key>
        <string>{114,95}</string>
      </dict>
      <key>21.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,227},{58,64}}</string>
        <key>offset</key>
        <string>{-5,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23,10},{58,64}}</string>
        <key>sourceSize</key>
        <string>{114,95}</string>
      </dict>
      <key>22.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,151},{58,64}}</string>
        <key>offset</key>
        <string>{-5,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23,10},{58,64}}</string>
        <key>sourceSize</key>
        <string>{114,95}</string>
      </dict>
      <key>00.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,299},{59,62}}</string>
        <key>offset</key>
        <string>{-5.5,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{22,11},{59,62}}</string>
        <key>sourceSize</key>
        <string>{114,95}</string>
      </dict>
      <key>01.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,300},{59,62}}</string>
        <key>offset</key>
        <string>{-5.5,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{22,11},{59,62}}</string>
        <key>sourceSize</key>
        <string>{114,95}</string>
      </dict>
      <key>02.png</key>
      <dict>
        <key>frame</key>
        <string>{{71,301},{59,62}}</string>
        <key>offset</key>
        <string>{-5.5,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{22,11},{59,62}}</string>
        <key>sourceSize</key>
        <string>{114,95}</string>
      </dict>
      <key>23.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,299},{58,63}}</string>
        <key>offset</key>
        <string>{-5,6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23,10},{58,63}}</string>
        <key>sourceSize</key>
        <string>{114,95}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Monster8.png</string>
      <key>size</key>
      <string>{347,367}</string>
      <key>textureFileName</key>
      <string>Monster8</string>
    </dict>
  </dict>
</plist>
