<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>16.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,4},{62,74}}</string>
        <key>offset</key>
        <string>{8.5,11}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23,0},{62,74}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
      <key>18.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,4},{63,72}}</string>
        <key>offset</key>
        <string>{7,7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{21,5},{63,72}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
      <key>17.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,84},{62,73}}</string>
        <key>offset</key>
        <string>{7.5,8.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{22,3},{62,73}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
      <key>15.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,86},{62,73}}</string>
        <key>offset</key>
        <string>{7.5,10.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{22,1},{62,73}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
      <key>19.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,84},{64,70}}</string>
        <key>offset</key>
        <string>{6.5,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{20,9},{64,70}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
      <key>14.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,4},{64,69}}</string>
        <key>offset</key>
        <string>{6.5,8.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{20,5},{64,69}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
      <key>20.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,162},{64,68}}</string>
        <key>offset</key>
        <string>{5.5,2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19,12},{64,68}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
      <key>21.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,167},{64,66}}</string>
        <key>offset</key>
        <string>{5.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19,15},{64,66}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
      <key>23.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,81},{65,63}}</string>
        <key>offset</key>
        <string>{4,-4.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{17,21},{65,63}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
      <key>22.png</key>
      <dict>
        <key>frame</key>
        <string>{{217,4},{64,63}}</string>
        <key>offset</key>
        <string>{4.5,-2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,19},{64,63}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
      <key>00.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,152},{64,61}}</string>
        <key>offset</key>
        <string>{3.5,-6.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{17,24},{64,61}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
      <key>13.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,221},{66,59}}</string>
        <key>offset</key>
        <string>{4.5,3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{17,15},{66,59}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
      <key>01.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,238},{64,59}}</string>
        <key>offset</key>
        <string>{2.5,-6.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{16,25},{64,59}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
      <key>02.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,152},{66,51}}</string>
        <key>offset</key>
        <string>{0.5,-8.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,31},{66,51}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
      <key>03.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,211},{65,51}}</string>
        <key>offset</key>
        <string>{-3,-3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{10,26},{65,51}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
      <key>12.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,288},{68,47}}</string>
        <key>offset</key>
        <string>{0.5,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{12,26},{68,47}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
      <key>11.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,270},{64,49}}</string>
        <key>offset</key>
        <string>{-6.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{7,22},{64,49}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
      <key>04.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,305},{61,51}}</string>
        <key>offset</key>
        <string>{-7,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,23},{61,51}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
      <key>09.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,241},{54,56}}</string>
        <key>offset</key>
        <string>{-13.5,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,17},{54,56}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
      <key>10.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,165},{54,55}}</string>
        <key>offset</key>
        <string>{-13.5,3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,17},{54,55}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
      <key>08.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,288},{53,55}}</string>
        <key>offset</key>
        <string>{-13,3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,17},{53,55}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
      <key>06.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,305},{56,52}}</string>
        <key>offset</key>
        <string>{-11.5,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,19},{56,52}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
      <key>07.png</key>
      <dict>
        <key>frame</key>
        <string>{{289,4},{54,53}}</string>
        <key>offset</key>
        <string>{-12.5,3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,18},{54,53}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
      <key>05.png</key>
      <dict>
        <key>frame</key>
        <string>{{289,65},{57,50}}</string>
        <key>offset</key>
        <string>{-10,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{7,22},{57,50}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Monster10Attack.png</string>
      <key>size</key>
      <string>{359,361}</string>
      <key>textureFileName</key>
      <string>Monster10Attack</string>
    </dict>
  </dict>
</plist>
