<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>17.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,4},{56,66}}</string>
        <key>offset</key>
        <string>{-23,-11.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,45},{56,66}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>16.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,4},{55,66}}</string>
        <key>offset</key>
        <string>{-23.5,-11.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,45},{55,66}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>15.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,78},{55,66}}</string>
        <key>offset</key>
        <string>{-23.5,-11.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,45},{55,66}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>00.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,4},{65,60}}</string>
        <key>offset</key>
        <string>{-19.5,-14.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,51},{65,60}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>19.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,78},{58,65}}</string>
        <key>offset</key>
        <string>{-21,-13}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{10,47},{58,65}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>18.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,72},{57,65}}</string>
        <key>offset</key>
        <string>{-22.5,-12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,46},{57,65}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>01.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,152},{65,58}}</string>
        <key>offset</key>
        <string>{-19.5,-15.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,53},{65,58}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>02.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,151},{64,58}}</string>
        <key>offset</key>
        <string>{-19,-15.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,53},{64,58}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>20.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,4},{59,64}}</string>
        <key>offset</key>
        <string>{-20.5,-13.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{10,48},{59,64}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>14.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,145},{55,64}}</string>
        <key>offset</key>
        <string>{-23.5,-11.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,46},{55,64}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>04.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,76},{63,58}}</string>
        <key>offset</key>
        <string>{-19.5,-16.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,54},{63,58}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>23.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,218},{63,60}}</string>
        <key>offset</key>
        <string>{-19.5,-14.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,51},{63,60}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>03.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,218},{63,57}}</string>
        <key>offset</key>
        <string>{-19.5,-16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,54},{63,57}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>13.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,4},{56,63}}</string>
        <key>offset</key>
        <string>{-24,-12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,47},{56,63}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>12.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,75},{56,63}}</string>
        <key>offset</key>
        <string>{-24,-12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,47},{56,63}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>11.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,146},{57,62}}</string>
        <key>offset</key>
        <string>{-23.5,-12.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,48},{57,62}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>10.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,216},{58,62}}</string>
        <key>offset</key>
        <string>{-23,-13.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,49},{58,62}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>06.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,286},{62,59}}</string>
        <key>offset</key>
        <string>{-21,-17}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,54},{62,59}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>05.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,286},{62,58}}</string>
        <key>offset</key>
        <string>{-20,-16.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,54},{62,58}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>21.png</key>
      <dict>
        <key>frame</key>
        <string>{{277,146},{61,62}}</string>
        <key>offset</key>
        <string>{-19.5,-13.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{10,49},{61,62}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>22.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,216},{62,61}}</string>
        <key>offset</key>
        <string>{-20,-14}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,50},{62,61}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>09.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,217},{58,61}}</string>
        <key>offset</key>
        <string>{-23,-15}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,51},{58,61}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>07.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,285},{60,60}}</string>
        <key>offset</key>
        <string>{-22,-16.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,53},{60,60}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>08.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,286},{59,59}}</string>
        <key>offset</key>
        <string>{-22.5,-16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,53},{59,59}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Monster4Walk.png</string>
      <key>size</key>
      <string>{344,349}</string>
      <key>textureFileName</key>
      <string>Monster4Walk</string>
    </dict>
  </dict>
</plist>
