<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>19.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,4},{66,53}}</string>
        <key>offset</key>
        <string>{2.5,-10.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,32},{66,53}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
      <key>16.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,65},{66,53}}</string>
        <key>offset</key>
        <string>{2.5,-10.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,32},{66,53}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
      <key>20.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,4},{66,54}}</string>
        <key>offset</key>
        <string>{2.5,-11}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,32},{66,54}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
      <key>18.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,66},{66,53}}</string>
        <key>offset</key>
        <string>{2.5,-10.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,32},{66,53}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
      <key>17.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,126},{66,53}}</string>
        <key>offset</key>
        <string>{2.5,-10.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,32},{66,53}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
      <key>15.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,127},{66,52}}</string>
        <key>offset</key>
        <string>{2.5,-10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,32},{66,52}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
      <key>22.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,4},{65,53}}</string>
        <key>offset</key>
        <string>{3,-11.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{16,33},{65,53}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
      <key>12.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,65},{65,52}}</string>
        <key>offset</key>
        <string>{3,-10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{16,32},{65,52}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
      <key>14.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,125},{65,52}}</string>
        <key>offset</key>
        <string>{3,-10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{16,32},{65,52}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
      <key>23.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,185},{65,53}}</string>
        <key>offset</key>
        <string>{3,-11.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{16,33},{65,53}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
      <key>13.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,187},{65,52}}</string>
        <key>offset</key>
        <string>{3,-10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{16,32},{65,52}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
      <key>21.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,4},{65,54}}</string>
        <key>offset</key>
        <string>{3,-11}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{16,32},{65,54}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
      <key>25.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,66},{64,55}}</string>
        <key>offset</key>
        <string>{3.5,-10.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{17,31},{64,55}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
      <key>10.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,187},{64,52}}</string>
        <key>offset</key>
        <string>{3.5,-10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{17,32},{64,52}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
      <key>11.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,129},{64,52}}</string>
        <key>offset</key>
        <string>{3.5,-10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{17,32},{64,52}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
      <key>24.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,247},{64,53}}</string>
        <key>offset</key>
        <string>{3.5,-11.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{17,33},{64,53}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
      <key>28.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,189},{63,64}}</string>
        <key>offset</key>
        <string>{4,-6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,22},{63,64}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
      <key>30.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,4},{62,63}}</string>
        <key>offset</key>
        <string>{4.5,-6.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19,23},{62,63}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
      <key>08.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,75},{63,52}}</string>
        <key>offset</key>
        <string>{4,-10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,32},{63,52}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
      <key>26.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,135},{63,60}}</string>
        <key>offset</key>
        <string>{4,-8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,26},{63,60}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
      <key>27.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,203},{63,63}}</string>
        <key>offset</key>
        <string>{4,-6.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,23},{63,63}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
      <key>09.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,247},{63,52}}</string>
        <key>offset</key>
        <string>{4,-10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,32},{63,52}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
      <key>29.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,308},{62,63}}</string>
        <key>offset</key>
        <string>{4.5,-6.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19,23},{62,63}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
      <key>07.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,246},{62,51}}</string>
        <key>offset</key>
        <string>{4.5,-10.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19,33},{62,51}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
      <key>04.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,261},{61,51}}</string>
        <key>offset</key>
        <string>{5,-11.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{20,34},{61,51}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
      <key>05.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,320},{61,52}}</string>
        <key>offset</key>
        <string>{5,-11}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{20,33},{61,52}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
      <key>06.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,320},{61,51}}</string>
        <key>offset</key>
        <string>{5,-10.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{20,33},{61,51}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
      <key>00.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,274},{61,57}}</string>
        <key>offset</key>
        <string>{5,-9.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{20,29},{61,57}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
      <key>02.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,320},{61,52}}</string>
        <key>offset</key>
        <string>{5,-12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{20,34},{61,52}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
      <key>03.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,4},{61,51}}</string>
        <key>offset</key>
        <string>{5,-11.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{20,34},{61,51}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
      <key>01.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,63},{61,52}}</string>
        <key>offset</key>
        <string>{5,-12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{20,34},{61,52}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
      <key>31.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,123},{61,61}}</string>
        <key>offset</key>
        <string>{5,-7.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{20,25},{61,61}}</string>
        <key>sourceSize</key>
        <string>{91,96}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Monster10Walk.png</string>
      <key>size</key>
      <string>{433,376}</string>
      <key>textureFileName</key>
      <string>Monster10Walk</string>
    </dict>
  </dict>
</plist>
