<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>19.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,4},{93,82}}</string>
        <key>offset</key>
        <string>{-5.5,-4.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,30},{93,82}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>18.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,94},{50,106}}</string>
        <key>offset</key>
        <string>{-28,6.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{7,7},{50,106}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>17.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,94},{51,94}}</string>
        <key>offset</key>
        <string>{-29.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,19},{51,94}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>16.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,4},{52,87}}</string>
        <key>offset</key>
        <string>{-30,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,26},{52,87}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>15.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,99},{51,88}}</string>
        <key>offset</key>
        <string>{-30.5,-2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,25},{51,88}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>11.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,195},{51,88}}</string>
        <key>offset</key>
        <string>{-29.5,-2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,25},{51,88}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>13.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,196},{51,88}}</string>
        <key>offset</key>
        <string>{-29.5,-2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,25},{51,88}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>20.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,99},{104,42}}</string>
        <key>offset</key>
        <string>{3,-24.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{11,70},{104,42}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>12.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,208},{50,88}}</string>
        <key>offset</key>
        <string>{-30,-2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,25},{50,88}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>10.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,149},{50,88}}</string>
        <key>offset</key>
        <string>{-30,-2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,25},{50,88}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>08.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,149},{50,88}}</string>
        <key>offset</key>
        <string>{-29,-2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,25},{50,88}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>14.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,291},{50,88}}</string>
        <key>offset</key>
        <string>{-30,-2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,25},{50,88}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>09.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,292},{50,88}}</string>
        <key>offset</key>
        <string>{-29,-2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,25},{50,88}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>07.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,304},{50,87}}</string>
        <key>offset</key>
        <string>{-29,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,26},{50,87}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>06.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,4},{50,86}}</string>
        <key>offset</key>
        <string>{-29,-3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,27},{50,86}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>21.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,4},{80,53}}</string>
        <key>offset</key>
        <string>{-6,-31}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,71},{80,53}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>05.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,291},{49,83}}</string>
        <key>offset</key>
        <string>{-28.5,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{7,30},{49,83}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>03.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,245},{54,74}}</string>
        <key>offset</key>
        <string>{-25,-9.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,39},{54,74}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>04.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,65},{50,78}}</string>
        <key>offset</key>
        <string>{-28,-7.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{7,35},{50,78}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>31.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,151},{61,64}}</string>
        <key>offset</key>
        <string>{-20.5,-13.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,48},{61,64}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>30.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,327},{66,59}}</string>
        <key>offset</key>
        <string>{-18,-16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,53},{66,59}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>02.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,223},{57,68}}</string>
        <key>offset</key>
        <string>{-22.5,-11.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,44},{57,68}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>22.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,299},{74,52}}</string>
        <key>offset</key>
        <string>{-9,-30.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,71},{74,52}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>29.png</key>
      <dict>
        <key>frame</key>
        <string>{{363,223},{70,55}}</string>
        <key>offset</key>
        <string>{-16,-18}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,57},{70,55}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>01.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,286},{59,65}}</string>
        <key>offset</key>
        <string>{-21.5,-13}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,47},{59,65}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>28.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,4},{74,51}}</string>
        <key>offset</key>
        <string>{-15,-20}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,61},{74,51}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>00.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,63},{59,64}}</string>
        <key>offset</key>
        <string>{-21.5,-13.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,48},{59,64}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>27.png</key>
      <dict>
        <key>frame</key>
        <string>{{365,135},{76,47}}</string>
        <key>offset</key>
        <string>{-14,-22}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,65},{76,47}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>23.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,387},{69,50}}</string>
        <key>offset</key>
        <string>{-11.5,-29.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,71},{69,50}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>26.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,399},{75,43}}</string>
        <key>offset</key>
        <string>{-13.5,-24}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,69},{75,43}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>25.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,359},{73,43}}</string>
        <key>offset</key>
        <string>{-12.5,-25}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{11,70},{73,43}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>24.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,394},{70,43}}</string>
        <key>offset</key>
        <string>{-13,-25}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{12,70},{70,43}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Monster5Attack.png</string>
      <key>size</key>
      <string>{455,446}</string>
      <key>textureFileName</key>
      <string>Monster5Attack</string>
    </dict>
  </dict>
</plist>
