<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>00.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,4},{66,60}}</string>
        <key>offset</key>
        <string>{-19,-13.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,50},{66,60}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>01.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,4},{66,60}}</string>
        <key>offset</key>
        <string>{-19,-14.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,51},{66,60}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>02.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,4},{64,60}}</string>
        <key>offset</key>
        <string>{-19,-14.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,51},{64,60}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>03.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,4},{63,60}}</string>
        <key>offset</key>
        <string>{-19.5,-15.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,52},{63,60}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>04.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,4},{62,60}}</string>
        <key>offset</key>
        <string>{-20,-15.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,52},{62,60}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>05.png</key>
      <dict>
        <key>frame</key>
        <string>{{365,4},{61,61}}</string>
        <key>offset</key>
        <string>{-20.5,-16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,52},{61,61}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>06.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,4},{61,61}}</string>
        <key>offset</key>
        <string>{-21.5,-16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,52},{61,61}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>07.png</key>
      <dict>
        <key>frame</key>
        <string>{{503,4},{60,61}}</string>
        <key>offset</key>
        <string>{-22,-16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,52},{60,61}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>08.png</key>
      <dict>
        <key>frame</key>
        <string>{{571,4},{59,61}}</string>
        <key>offset</key>
        <string>{-22.5,-15}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,51},{59,61}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>21.png</key>
      <dict>
        <key>frame</key>
        <string>{{638,4},{63,61}}</string>
        <key>offset</key>
        <string>{-18.5,-14}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{10,50},{63,61}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>22.png</key>
      <dict>
        <key>frame</key>
        <string>{{709,4},{64,61}}</string>
        <key>offset</key>
        <string>{-19,-14}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,50},{64,61}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>23.png</key>
      <dict>
        <key>frame</key>
        <string>{{781,4},{65,61}}</string>
        <key>offset</key>
        <string>{-18.5,-14}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,50},{65,61}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>09.png</key>
      <dict>
        <key>frame</key>
        <string>{{854,4},{59,62}}</string>
        <key>offset</key>
        <string>{-22.5,-14.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,50},{59,62}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>10.png</key>
      <dict>
        <key>frame</key>
        <string>{{921,4},{58,62}}</string>
        <key>offset</key>
        <string>{-23,-13.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,49},{58,62}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>11.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,72},{58,62}}</string>
        <key>offset</key>
        <string>{-23,-12.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,48},{58,62}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>12.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,72},{58,62}}</string>
        <key>offset</key>
        <string>{-23,-12.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,48},{58,62}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>13.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,72},{58,62}}</string>
        <key>offset</key>
        <string>{-23,-12.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,48},{58,62}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>14.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,72},{57,63}}</string>
        <key>offset</key>
        <string>{-22.5,-13}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,48},{57,63}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>15.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,72},{57,63}}</string>
        <key>offset</key>
        <string>{-22.5,-13}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,48},{57,63}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>16.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,73},{58,63}}</string>
        <key>offset</key>
        <string>{-22,-13}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,48},{58,63}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>17.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,73},{59,63}}</string>
        <key>offset</key>
        <string>{-21.5,-13}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,48},{59,63}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>18.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,73},{60,63}}</string>
        <key>offset</key>
        <string>{-21,-14}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,49},{60,63}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>19.png</key>
      <dict>
        <key>frame</key>
        <string>{{533,73},{60,63}}</string>
        <key>offset</key>
        <string>{-20,-14}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{10,49},{60,63}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>20.png</key>
      <dict>
        <key>frame</key>
        <string>{{601,73},{62,63}}</string>
        <key>offset</key>
        <string>{-19,-14}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{10,49},{62,63}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Monster6Walk.png</string>
      <key>size</key>
      <string>{983,140}</string>
      <key>textureFileName</key>
      <string>Monster6Walk</string>
    </dict>
  </dict>
</plist>
