<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>14.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,4},{61,68}}</string>
        <key>offset</key>
        <string>{-3.5,3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23,10},{61,68}}</string>
        <key>sourceSize</key>
        <string>{114,95}</string>
      </dict>
      <key>11.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,4},{63,67}}</string>
        <key>offset</key>
        <string>{-4.5,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{21,11},{63,67}}</string>
        <key>sourceSize</key>
        <string>{114,95}</string>
      </dict>
      <key>17.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,80},{60,67}}</string>
        <key>offset</key>
        <string>{-4,5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23,9},{60,67}}</string>
        <key>sourceSize</key>
        <string>{114,95}</string>
      </dict>
      <key>15.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,80},{60,67}}</string>
        <key>offset</key>
        <string>{-4,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23,10},{60,67}}</string>
        <key>sourceSize</key>
        <string>{114,95}</string>
      </dict>
      <key>12.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,4},{62,67}}</string>
        <key>offset</key>
        <string>{-4,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{22,11},{62,67}}</string>
        <key>sourceSize</key>
        <string>{114,95}</string>
      </dict>
      <key>13.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,79},{61,67}}</string>
        <key>offset</key>
        <string>{-3.5,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23,11},{61,67}}</string>
        <key>sourceSize</key>
        <string>{114,95}</string>
      </dict>
      <key>10.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,155},{63,67}}</string>
        <key>offset</key>
        <string>{-4.5,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{21,11},{63,67}}</string>
        <key>sourceSize</key>
        <string>{114,95}</string>
      </dict>
      <key>09.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,155},{63,66}}</string>
        <key>offset</key>
        <string>{-4.5,3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{21,11},{63,66}}</string>
        <key>sourceSize</key>
        <string>{114,95}</string>
      </dict>
      <key>07.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,4},{61,66}}</string>
        <key>offset</key>
        <string>{-4.5,4.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{22,10},{61,66}}</string>
        <key>sourceSize</key>
        <string>{114,95}</string>
      </dict>
      <key>16.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,78},{60,66}}</string>
        <key>offset</key>
        <string>{-4,4.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23,10},{60,66}}</string>
        <key>sourceSize</key>
        <string>{114,95}</string>
      </dict>
      <key>18.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,154},{59,66}}</string>
        <key>offset</key>
        <string>{-4.5,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23,9},{59,66}}</string>
        <key>sourceSize</key>
        <string>{114,95}</string>
      </dict>
      <key>19.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,152},{59,66}}</string>
        <key>offset</key>
        <string>{-4.5,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23,9},{59,66}}</string>
        <key>sourceSize</key>
        <string>{114,95}</string>
      </dict>
      <key>06.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,230},{60,65}}</string>
        <key>offset</key>
        <string>{-4,5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23,10},{60,65}}</string>
        <key>sourceSize</key>
        <string>{114,95}</string>
      </dict>
      <key>08.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,226},{62,65}}</string>
        <key>offset</key>
        <string>{-5,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{21,11},{62,65}}</string>
        <key>sourceSize</key>
        <string>{114,95}</string>
      </dict>
      <key>20.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,228},{59,64}}</string>
        <key>offset</key>
        <string>{-4.5,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23,10},{59,64}}</string>
        <key>sourceSize</key>
        <string>{114,95}</string>
      </dict>
      <key>04.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,230},{59,64}}</string>
        <key>offset</key>
        <string>{-4.5,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23,10},{59,64}}</string>
        <key>sourceSize</key>
        <string>{114,95}</string>
      </dict>
      <key>22.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,4},{58,64}}</string>
        <key>offset</key>
        <string>{-5,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23,10},{58,64}}</string>
        <key>sourceSize</key>
        <string>{114,95}</string>
      </dict>
      <key>21.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,76},{58,64}}</string>
        <key>offset</key>
        <string>{-5,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23,10},{58,64}}</string>
        <key>sourceSize</key>
        <string>{114,95}</string>
      </dict>
      <key>05.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,148},{59,64}}</string>
        <key>offset</key>
        <string>{-4.5,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23,10},{59,64}}</string>
        <key>sourceSize</key>
        <string>{114,95}</string>
      </dict>
      <key>03.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,303},{59,63}}</string>
        <key>offset</key>
        <string>{-4.5,5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23,11},{59,63}}</string>
        <key>sourceSize</key>
        <string>{114,95}</string>
      </dict>
      <key>23.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,220},{58,63}}</string>
        <key>offset</key>
        <string>{-5,6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23,10},{58,63}}</string>
        <key>sourceSize</key>
        <string>{114,95}</string>
      </dict>
      <key>01.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,291},{58,62}}</string>
        <key>offset</key>
        <string>{-5,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23,11},{58,62}}</string>
        <key>sourceSize</key>
        <string>{114,95}</string>
      </dict>
      <key>02.png</key>
      <dict>
        <key>frame</key>
        <string>{{71,303},{58,62}}</string>
        <key>offset</key>
        <string>{-5,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23,11},{58,62}}</string>
        <key>sourceSize</key>
        <string>{114,95}</string>
      </dict>
      <key>00.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,302},{58,62}}</string>
        <key>offset</key>
        <string>{-5,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23,11},{58,62}}</string>
        <key>sourceSize</key>
        <string>{114,95}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Monster7.png</string>
      <key>size</key>
      <string>{345,370}</string>
      <key>textureFileName</key>
      <string>Monster7</string>
    </dict>
  </dict>
</plist>
