<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>02.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,4},{65,58}}</string>
        <key>offset</key>
        <string>{-18.5,-15.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,53},{65,58}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>03.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,4},{64,58}}</string>
        <key>offset</key>
        <string>{-19,-16.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,54},{64,58}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>04.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,4},{63,58}}</string>
        <key>offset</key>
        <string>{-19.5,-16.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,54},{63,58}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>00.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,4},{65,59}}</string>
        <key>offset</key>
        <string>{-19.5,-14}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,51},{65,59}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>01.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,4},{65,59}}</string>
        <key>offset</key>
        <string>{-18.5,-15}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,52},{65,59}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>05.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,4},{63,59}}</string>
        <key>offset</key>
        <string>{-19.5,-17}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,54},{63,59}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>06.png</key>
      <dict>
        <key>frame</key>
        <string>{{437,4},{63,59}}</string>
        <key>offset</key>
        <string>{-20.5,-17}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,54},{63,59}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>07.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,4},{61,60}}</string>
        <key>offset</key>
        <string>{-21.5,-16.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,53},{61,60}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>08.png</key>
      <dict>
        <key>frame</key>
        <string>{{577,4},{60,60}}</string>
        <key>offset</key>
        <string>{-22,-15.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,52},{60,60}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>23.png</key>
      <dict>
        <key>frame</key>
        <string>{{645,4},{64,61}}</string>
        <key>offset</key>
        <string>{-19,-14}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,50},{64,61}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>09.png</key>
      <dict>
        <key>frame</key>
        <string>{{717,4},{59,62}}</string>
        <key>offset</key>
        <string>{-22.5,-14.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,50},{59,62}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>10.png</key>
      <dict>
        <key>frame</key>
        <string>{{784,4},{58,62}}</string>
        <key>offset</key>
        <string>{-23,-13.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,49},{58,62}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>22.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,4},{63,62}}</string>
        <key>offset</key>
        <string>{-19.5,-13.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,49},{63,62}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>11.png</key>
      <dict>
        <key>frame</key>
        <string>{{921,4},{58,63}}</string>
        <key>offset</key>
        <string>{-23,-12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,47},{58,63}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>21.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,70},{61,63}}</string>
        <key>offset</key>
        <string>{-19.5,-13}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{10,48},{61,63}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>12.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,70},{57,64}}</string>
        <key>offset</key>
        <string>{-23.5,-11.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,46},{57,64}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>13.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,70},{56,64}}</string>
        <key>offset</key>
        <string>{-24,-11.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,46},{56,64}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>20.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,71},{60,65}}</string>
        <key>offset</key>
        <string>{-20,-13}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{10,47},{60,65}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>14.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,71},{55,66}}</string>
        <key>offset</key>
        <string>{-23.5,-11.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,45},{55,66}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>19.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,71},{58,66}}</string>
        <key>offset</key>
        <string>{-21,-12.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{10,46},{58,66}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>15.png</key>
      <dict>
        <key>frame</key>
        <string>{{399,71},{55,67}}</string>
        <key>offset</key>
        <string>{-23.5,-11}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,44},{55,67}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>16.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,72},{55,67}}</string>
        <key>offset</key>
        <string>{-23.5,-11}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,44},{55,67}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>17.png</key>
      <dict>
        <key>frame</key>
        <string>{{525,72},{56,67}}</string>
        <key>offset</key>
        <string>{-23,-11}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,44},{56,67}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>18.png</key>
      <dict>
        <key>frame</key>
        <string>{{589,73},{58,67}}</string>
        <key>offset</key>
        <string>{-22,-12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,45},{58,67}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Monster5Walk.png</string>
      <key>size</key>
      <string>{983,144}</string>
      <key>textureFileName</key>
      <string>Monster5Walk</string>
    </dict>
  </dict>
</plist>
