<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>37.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,4},{66,46}}</string>
        <key>offset</key>
        <string>{3.5,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,12},{66,46}}</string>
        <key>sourceSize</key>
        <string>{87,67}</string>
      </dict>
      <key>36.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,58},{66,46}}</string>
        <key>offset</key>
        <string>{3.5,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,12},{66,46}}</string>
        <key>sourceSize</key>
        <string>{87,67}</string>
      </dict>
      <key>35.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,4},{65,46}}</string>
        <key>offset</key>
        <string>{3,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,12},{65,46}}</string>
        <key>sourceSize</key>
        <string>{87,67}</string>
      </dict>
      <key>34.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,58},{65,46}}</string>
        <key>offset</key>
        <string>{3,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,12},{65,46}}</string>
        <key>sourceSize</key>
        <string>{87,67}</string>
      </dict>
      <key>33.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,112},{64,47}}</string>
        <key>offset</key>
        <string>{2.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,11},{64,47}}</string>
        <key>sourceSize</key>
        <string>{87,67}</string>
      </dict>
      <key>40.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,112},{64,46}}</string>
        <key>offset</key>
        <string>{3.5,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,12},{64,46}}</string>
        <key>sourceSize</key>
        <string>{87,67}</string>
      </dict>
      <key>14.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,112},{63,47}}</string>
        <key>offset</key>
        <string>{1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,11},{63,47}}</string>
        <key>sourceSize</key>
        <string>{87,67}</string>
      </dict>
      <key>41.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,4},{63,46}}</string>
        <key>offset</key>
        <string>{3,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,12},{63,46}}</string>
        <key>sourceSize</key>
        <string>{87,67}</string>
      </dict>
      <key>31.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,167},{63,47}}</string>
        <key>offset</key>
        <string>{1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,11},{63,47}}</string>
        <key>sourceSize</key>
        <string>{87,67}</string>
      </dict>
      <key>32.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,167},{63,47}}</string>
        <key>offset</key>
        <string>{2,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,11},{63,47}}</string>
        <key>sourceSize</key>
        <string>{87,67}</string>
      </dict>
      <key>17.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,167},{62,47}}</string>
        <key>offset</key>
        <string>{1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,11},{62,47}}</string>
        <key>sourceSize</key>
        <string>{87,67}</string>
      </dict>
      <key>09.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,4},{62,48}}</string>
        <key>offset</key>
        <string>{0.5,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,11},{62,48}}</string>
        <key>sourceSize</key>
        <string>{87,67}</string>
      </dict>
      <key>42.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,58},{62,46}}</string>
        <key>offset</key>
        <string>{2.5,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,12},{62,46}}</string>
        <key>sourceSize</key>
        <string>{87,67}</string>
      </dict>
      <key>16.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,167},{62,47}}</string>
        <key>offset</key>
        <string>{1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,11},{62,47}}</string>
        <key>sourceSize</key>
        <string>{87,67}</string>
      </dict>
      <key>43.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,112},{62,46}}</string>
        <key>offset</key>
        <string>{2.5,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,12},{62,46}}</string>
        <key>sourceSize</key>
        <string>{87,67}</string>
      </dict>
      <key>08.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,222},{61,49}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,10},{61,49}}</string>
        <key>sourceSize</key>
        <string>{87,67}</string>
      </dict>
      <key>19.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,222},{61,46}}</string>
        <key>offset</key>
        <string>{1,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,12},{61,46}}</string>
        <key>sourceSize</key>
        <string>{87,67}</string>
      </dict>
      <key>18.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,222},{61,46}}</string>
        <key>offset</key>
        <string>{1,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,12},{61,46}}</string>
        <key>sourceSize</key>
        <string>{87,67}</string>
      </dict>
      <key>30.png</key>
      <dict>
        <key>frame</key>
        <string>{{211,222},{61,47}}</string>
        <key>offset</key>
        <string>{1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,11},{61,47}}</string>
        <key>sourceSize</key>
        <string>{87,67}</string>
      </dict>
      <key>44.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,279},{60,46}}</string>
        <key>offset</key>
        <string>{1.5,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,12},{60,46}}</string>
        <key>sourceSize</key>
        <string>{87,67}</string>
      </dict>
      <key>28.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,279},{59,46}}</string>
        <key>offset</key>
        <string>{0,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,12},{59,46}}</string>
        <key>sourceSize</key>
        <string>{87,67}</string>
      </dict>
      <key>20.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,277},{59,46}}</string>
        <key>offset</key>
        <string>{1,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,12},{59,46}}</string>
        <key>sourceSize</key>
        <string>{87,67}</string>
      </dict>
      <key>21.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,277},{58,46}}</string>
        <key>offset</key>
        <string>{0.5,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,12},{58,46}}</string>
        <key>sourceSize</key>
        <string>{87,67}</string>
      </dict>
      <key>45.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,4},{58,45}}</string>
        <key>offset</key>
        <string>{1.5,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{16,13},{58,45}}</string>
        <key>sourceSize</key>
        <string>{87,67}</string>
      </dict>
      <key>03.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,57},{57,46}}</string>
        <key>offset</key>
        <string>{-1,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,12},{57,46}}</string>
        <key>sourceSize</key>
        <string>{87,67}</string>
      </dict>
      <key>27.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,277},{57,46}}</string>
        <key>offset</key>
        <string>{0,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,12},{57,46}}</string>
        <key>sourceSize</key>
        <string>{87,67}</string>
      </dict>
      <key>22.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,222},{57,46}}</string>
        <key>offset</key>
        <string>{0,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,12},{57,46}}</string>
        <key>sourceSize</key>
        <string>{87,67}</string>
      </dict>
      <key>26.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,166},{56,46}}</string>
        <key>offset</key>
        <string>{-0.5,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,12},{56,46}}</string>
        <key>sourceSize</key>
        <string>{87,67}</string>
      </dict>
      <key>46.png</key>
      <dict>
        <key>frame</key>
        <string>{{289,111},{56,45}}</string>
        <key>offset</key>
        <string>{0.5,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{16,13},{56,45}}</string>
        <key>sourceSize</key>
        <string>{87,67}</string>
      </dict>
      <key>02.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,333},{55,46}}</string>
        <key>offset</key>
        <string>{-1,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,12},{55,46}}</string>
        <key>sourceSize</key>
        <string>{87,67}</string>
      </dict>
      <key>25.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,333},{55,45}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{16,13},{55,45}}</string>
        <key>sourceSize</key>
        <string>{87,67}</string>
      </dict>
      <key>47.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,333},{55,45}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{16,13},{55,45}}</string>
        <key>sourceSize</key>
        <string>{87,67}</string>
      </dict>
      <key>23.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,331},{55,45}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{16,13},{55,45}}</string>
        <key>sourceSize</key>
        <string>{87,67}</string>
      </dict>
      <key>00.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,331},{54,45}}</string>
        <key>offset</key>
        <string>{-0.5,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{16,13},{54,45}}</string>
        <key>sourceSize</key>
        <string>{87,67}</string>
      </dict>
      <key>24.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,331},{54,45}}</string>
        <key>offset</key>
        <string>{-0.5,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{16,13},{54,45}}</string>
        <key>sourceSize</key>
        <string>{87,67}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Monster3.png</string>
      <key>size</key>
      <string>{354,383}</string>
      <key>textureFileName</key>
      <string>Monster3</string>
    </dict>
  </dict>
</plist>
