<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>19.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,4},{100,80}}</string>
        <key>offset</key>
        <string>{-2,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,32},{100,80}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>18.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,92},{50,110}}</string>
        <key>offset</key>
        <string>{-28,8.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{7,3},{50,110}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>20.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,92},{102,49}}</string>
        <key>offset</key>
        <string>{2,-28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{11,70},{102,49}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>17.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,210},{51,97}}</string>
        <key>offset</key>
        <string>{-29.5,2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,16},{51,97}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>16.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,149},{51,90}}</string>
        <key>offset</key>
        <string>{-29.5,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,23},{51,90}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>13.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,149},{51,90}}</string>
        <key>offset</key>
        <string>{-29.5,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,23},{51,90}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>11.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,4},{51,89}}</string>
        <key>offset</key>
        <string>{-29.5,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,24},{51,89}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>14.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,101},{50,90}}</string>
        <key>offset</key>
        <string>{-30,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,23},{50,90}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>21.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,199},{78,58}}</string>
        <key>offset</key>
        <string>{-7,-33.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,71},{78,58}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>10.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,4},{50,89}}</string>
        <key>offset</key>
        <string>{-30,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,24},{50,89}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>12.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,101},{50,89}}</string>
        <key>offset</key>
        <string>{-30,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,24},{50,89}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>15.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,198},{50,89}}</string>
        <key>offset</key>
        <string>{-30,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,24},{50,89}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>09.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,247},{50,89}}</string>
        <key>offset</key>
        <string>{-29,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,24},{50,89}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>08.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,315},{50,88}}</string>
        <key>offset</key>
        <string>{-29,-2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,25},{50,88}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>04.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,265},{57,76}}</string>
        <key>offset</key>
        <string>{-24.5,-8.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{7,37},{57,76}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>07.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,265},{50,86}}</string>
        <key>offset</key>
        <string>{-29,-3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,27},{50,86}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>05.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,295},{53,81}}</string>
        <key>offset</key>
        <string>{-26.5,-6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{7,32},{53,81}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>06.png</key>
      <dict>
        <key>frame</key>
        <string>{{289,4},{50,84}}</string>
        <key>offset</key>
        <string>{-29,-4.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,29},{50,84}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>03.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,96},{58,70}}</string>
        <key>offset</key>
        <string>{-23,-11.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,43},{58,70}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>29.png</key>
      <dict>
        <key>frame</key>
        <string>{{305,295},{70,57}}</string>
        <key>offset</key>
        <string>{-16,-17}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,55},{70,57}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>22.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,4},{71,56}}</string>
        <key>offset</key>
        <string>{-10.5,-32.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,71},{71,56}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>28.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,349},{73,54}}</string>
        <key>offset</key>
        <string>{-15.5,-18.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,58},{73,54}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>30.png</key>
      <dict>
        <key>frame</key>
        <string>{{325,174},{66,59}}</string>
        <key>offset</key>
        <string>{-18,-16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,53},{66,59}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>31.png</key>
      <dict>
        <key>frame</key>
        <string>{{363,68},{62,62}}</string>
        <key>offset</key>
        <string>{-20,-14.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,50},{62,62}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>01.png</key>
      <dict>
        <key>frame</key>
        <string>{{383,241},{61,63}}</string>
        <key>offset</key>
        <string>{-20.5,-14}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,49},{61,63}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>00.png</key>
      <dict>
        <key>frame</key>
        <string>{{399,138},{61,62}}</string>
        <key>offset</key>
        <string>{-20.5,-14.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,50},{61,62}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>02.png</key>
      <dict>
        <key>frame</key>
        <string>{{383,312},{59,64}}</string>
        <key>offset</key>
        <string>{-21.5,-13.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,48},{59,64}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>27.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,359},{74,49}}</string>
        <key>offset</key>
        <string>{-15,-21}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,63},{74,49}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>23.png</key>
      <dict>
        <key>frame</key>
        <string>{{305,360},{66,54}}</string>
        <key>offset</key>
        <string>{-13,-31.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,71},{66,54}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>24.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,384},{68,49}}</string>
        <key>offset</key>
        <string>{-14,-28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{12,70},{68,49}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>26.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,411},{74,44}}</string>
        <key>offset</key>
        <string>{-14,-23.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,68},{74,44}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
      <key>25.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,416},{72,44}}</string>
        <key>offset</key>
        <string>{-14,-25.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{10,70},{72,44}}</string>
        <key>sourceSize</key>
        <string>{120,133}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Monster6Attack.png</string>
      <key>size</key>
      <string>{464,464}</string>
      <key>textureFileName</key>
      <string>Monster6Attack</string>
    </dict>
  </dict>
</plist>
