<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>01.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,6},{66,52}}</string>
        <key>offset</key>
        <string>{-13.5,7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,17},{66,52}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>02.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,70},{66,51}}</string>
        <key>offset</key>
        <string>{-13.5,6.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,18},{66,51}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>03.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,6},{65,53}}</string>
        <key>offset</key>
        <string>{-13,5.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{16,18},{65,53}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>29.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,133},{65,34}}</string>
        <key>offset</key>
        <string>{-11,-6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,39},{65,34}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>04.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,6},{64,54}}</string>
        <key>offset</key>
        <string>{-13.5,5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{16,18},{64,54}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>28.png</key>
      <dict>
        <key>frame</key>
        <string>{{83,133},{64,33}}</string>
        <key>offset</key>
        <string>{-10.5,-6.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19,40},{64,33}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>36.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,83},{63,33}}</string>
        <key>offset</key>
        <string>{-11,-7.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19,41},{63,33}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>35.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,82},{63,33}}</string>
        <key>offset</key>
        <string>{-11,-6.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{19,40},{63,33}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>39.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,179},{63,35}}</string>
        <key>offset</key>
        <string>{-10,-8.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{20,41},{63,35}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>33.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,179},{63,33}}</string>
        <key>offset</key>
        <string>{-11,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19,39},{63,33}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>32.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,6},{63,33}}</string>
        <key>offset</key>
        <string>{-11,-5.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{19,39},{63,33}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>31.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,178},{63,34}}</string>
        <key>offset</key>
        <string>{-11,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19,38},{63,34}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>30.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,82},{63,34}}</string>
        <key>offset</key>
        <string>{-11,-5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{19,38},{63,34}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>38.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,226},{63,35}}</string>
        <key>offset</key>
        <string>{-10,-8.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{20,41},{63,35}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>37.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,224},{63,34}}</string>
        <key>offset</key>
        <string>{-10,-8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{20,41},{63,34}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>27.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,224},{63,33}}</string>
        <key>offset</key>
        <string>{-11,-7.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19,41},{63,33}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>34.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,6},{63,33}}</string>
        <key>offset</key>
        <string>{-11,-6.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{19,40},{63,33}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>05.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,157},{62,54}}</string>
        <key>offset</key>
        <string>{-14.5,5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{16,18},{62,54}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>26.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,223},{62,36}}</string>
        <key>offset</key>
        <string>{-10.5,-8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{20,40},{62,36}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>00.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,273},{62,52}}</string>
        <key>offset</key>
        <string>{-15.5,7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,17},{62,52}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>25.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,269},{61,39}}</string>
        <key>offset</key>
        <string>{-12,-7.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19,38},{61,39}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>06.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,271},{59,54}}</string>
        <key>offset</key>
        <string>{-16,5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{16,18},{59,54}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>21.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,270},{33,58}}</string>
        <key>offset</key>
        <string>{-22,2}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{23,19},{33,58}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>19.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,81},{32,57}}</string>
        <key>offset</key>
        <string>{-28.5,4.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{17,17},{32,57}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>22.png</key>
      <dict>
        <key>frame</key>
        <string>{{305,6},{40,57}}</string>
        <key>offset</key>
        <string>{-17.5,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{24,22},{40,57}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>20.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,81},{32,57}}</string>
        <key>offset</key>
        <string>{-25.5,4.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{20,17},{32,57}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>18.png</key>
      <dict>
        <key>frame</key>
        <string>{{305,150},{32,57}}</string>
        <key>offset</key>
        <string>{-29.5,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{16,16},{32,57}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>17.png</key>
      <dict>
        <key>frame</key>
        <string>{{305,219},{33,55}}</string>
        <key>offset</key>
        <string>{-30,6.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,16},{33,55}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>24.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,337},{55,46}}</string>
        <key>offset</key>
        <string>{-12,-6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{22,33},{55,46}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>07.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,320},{54,54}}</string>
        <key>offset</key>
        <string>{-18.5,5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{16,18},{54,54}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>08.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,320},{49,54}}</string>
        <key>offset</key>
        <string>{-21,6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{16,17},{49,54}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>13.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,286},{34,53}}</string>
        <key>offset</key>
        <string>{-29.5,7.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,16},{34,53}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>23.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,6},{48,53}}</string>
        <key>offset</key>
        <string>{-14.5,-3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23,27},{48,53}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>16.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,75},{34,53}}</string>
        <key>offset</key>
        <string>{-30.5,7.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{14,16},{34,53}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>15.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,121},{34,53}}</string>
        <key>offset</key>
        <string>{-30.5,7.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{14,16},{34,53}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>14.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,167},{33,53}}</string>
        <key>offset</key>
        <string>{-30,7.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{15,16},{33,53}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>09.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,337},{44,52}}</string>
        <key>offset</key>
        <string>{-23.5,7}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{16,17},{44,52}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>10.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,212},{39,52}}</string>
        <key>offset</key>
        <string>{-26,7}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{16,17},{39,52}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>12.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,263},{33,52}}</string>
        <key>offset</key>
        <string>{-29,7}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{16,17},{33,52}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>11.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,308},{36,52}}</string>
        <key>offset</key>
        <string>{-27.5,7}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{16,17},{36,52}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>boss1_dead.png</string>
      <key>size</key>
      <string>{411,389}</string>
      <key>textureFileName</key>
      <string>boss1_dead</string>
    </dict>
  </dict>
</plist>
