<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>15.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,6},{58,49}}</string>
        <key>offset</key>
        <string>{-19.5,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,20},{58,49}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>16.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,67},{58,49}}</string>
        <key>offset</key>
        <string>{-19.5,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,20},{58,49}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>18.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,6},{57,49}}</string>
        <key>offset</key>
        <string>{-20,5.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{13,20},{57,49}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>17.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,75},{57,49}}</string>
        <key>offset</key>
        <string>{-20,5.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{13,20},{57,49}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>21.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,128},{57,49}}</string>
        <key>offset</key>
        <string>{-20,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,20},{57,49}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>20.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,6},{57,49}}</string>
        <key>offset</key>
        <string>{-20,5.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{13,20},{57,49}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>19.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,75},{57,49}}</string>
        <key>offset</key>
        <string>{-20,5.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{13,20},{57,49}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>14.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,189},{57,49}}</string>
        <key>offset</key>
        <string>{-20,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,20},{57,49}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>12.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,144},{57,49}}</string>
        <key>offset</key>
        <string>{-20,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,20},{57,49}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>13.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,144},{57,49}}</string>
        <key>offset</key>
        <string>{-20,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,20},{57,49}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>06.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,250},{55,50}}</string>
        <key>offset</key>
        <string>{-20,6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,19},{55,50}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>27.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,250},{55,50}}</string>
        <key>offset</key>
        <string>{-20,6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,19},{55,50}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>11.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,6},{56,49}}</string>
        <key>offset</key>
        <string>{-19.5,5.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{14,20},{56,49}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>10.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,74},{56,49}}</string>
        <key>offset</key>
        <string>{-19.5,5.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{14,20},{56,49}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>09.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,205},{56,49}}</string>
        <key>offset</key>
        <string>{-19.5,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,20},{56,49}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>08.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,205},{56,49}}</string>
        <key>offset</key>
        <string>{-19.5,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,20},{56,49}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>22.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,142},{56,49}}</string>
        <key>offset</key>
        <string>{-19.5,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,20},{56,49}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>23.png</key>
      <dict>
        <key>frame</key>
        <string>{{259,6},{56,49}}</string>
        <key>offset</key>
        <string>{-19.5,5.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{14,20},{56,49}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>24.png</key>
      <dict>
        <key>frame</key>
        <string>{{259,74},{56,49}}</string>
        <key>offset</key>
        <string>{-19.5,5.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{14,20},{56,49}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>25.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,312},{56,49}}</string>
        <key>offset</key>
        <string>{-19.5,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,20},{56,49}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>04.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,266},{54,50}}</string>
        <key>offset</key>
        <string>{-19.5,6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,19},{54,50}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>03.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,266},{54,50}}</string>
        <key>offset</key>
        <string>{-19.5,6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,19},{54,50}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>28.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,266},{54,50}}</string>
        <key>offset</key>
        <string>{-19.5,6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,19},{54,50}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>05.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,203},{54,50}}</string>
        <key>offset</key>
        <string>{-19.5,6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,19},{54,50}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>02.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,6},{54,50}}</string>
        <key>offset</key>
        <string>{-19.5,6}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{15,19},{54,50}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>29.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,72},{54,50}}</string>
        <key>offset</key>
        <string>{-19.5,6}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{15,19},{54,50}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>26.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,142},{55,49}}</string>
        <key>offset</key>
        <string>{-20,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,20},{55,49}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>07.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,312},{55,49}}</string>
        <key>offset</key>
        <string>{-20,5.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{14,20},{55,49}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>01.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,328},{53,50}}</string>
        <key>offset</key>
        <string>{-20,6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,19},{53,50}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>00.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,328},{53,50}}</string>
        <key>offset</key>
        <string>{-20,6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,19},{53,50}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>30.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,328},{53,50}}</string>
        <key>offset</key>
        <string>{-20,6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,19},{53,50}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>31.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,328},{53,50}}</string>
        <key>offset</key>
        <string>{-20,6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,19},{53,50}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>boss3_idle.png</string>
      <key>size</key>
      <string>{389,384}</string>
      <key>textureFileName</key>
      <string>boss3_idle</string>
    </dict>
  </dict>
</plist>
