<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>25.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,6},{63,52}}</string>
        <key>offset</key>
        <string>{-16,7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,17},{63,52}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>26.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,70},{63,52}}</string>
        <key>offset</key>
        <string>{-16,7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,17},{63,52}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>17.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,134},{63,51}}</string>
        <key>offset</key>
        <string>{-17,6.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,18},{63,51}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>18.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,197},{63,51}}</string>
        <key>offset</key>
        <string>{-17,6.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,18},{63,51}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>21.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,260},{63,51}}</string>
        <key>offset</key>
        <string>{-16,6.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,18},{63,51}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>23.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,323},{63,51}}</string>
        <key>offset</key>
        <string>{-16,6.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,18},{63,51}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>24.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,386},{63,51}}</string>
        <key>offset</key>
        <string>{-16,6.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,18},{63,51}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>00.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,449},{62,52}}</string>
        <key>offset</key>
        <string>{-15.5,7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,17},{62,52}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>01.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,449},{62,52}}</string>
        <key>offset</key>
        <string>{-15.5,7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,17},{62,52}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>02.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,6},{62,52}}</string>
        <key>offset</key>
        <string>{-15.5,7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,17},{62,52}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>03.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,70},{62,52}}</string>
        <key>offset</key>
        <string>{-15.5,7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,17},{62,52}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>04.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,134},{62,52}}</string>
        <key>offset</key>
        <string>{-15.5,7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,17},{62,52}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>05.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,134},{61,52}}</string>
        <key>offset</key>
        <string>{-16,7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,17},{61,52}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>07.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,6},{62,52}}</string>
        <key>offset</key>
        <string>{-16.5,7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,17},{62,52}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>08.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,70},{62,52}}</string>
        <key>offset</key>
        <string>{-16.5,7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,17},{62,52}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>09.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,198},{62,52}}</string>
        <key>offset</key>
        <string>{-16.5,7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,17},{62,52}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>06.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,198},{61,52}}</string>
        <key>offset</key>
        <string>{-16,7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,17},{61,52}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>10.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,262},{62,52}}</string>
        <key>offset</key>
        <string>{-16.5,7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,17},{62,52}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>13.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,262},{61,51}}</string>
        <key>offset</key>
        <string>{-17,6.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,18},{61,51}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>14.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,325},{61,51}}</string>
        <key>offset</key>
        <string>{-17,6.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,18},{61,51}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>11.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,326},{62,52}}</string>
        <key>offset</key>
        <string>{-16.5,7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,17},{62,52}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>12.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,390},{62,52}}</string>
        <key>offset</key>
        <string>{-16.5,7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,17},{62,52}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>27.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,454},{62,52}}</string>
        <key>offset</key>
        <string>{-15.5,7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,17},{62,52}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>28.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,513},{62,52}}</string>
        <key>offset</key>
        <string>{-15.5,7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,17},{62,52}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>29.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,513},{62,52}}</string>
        <key>offset</key>
        <string>{-15.5,7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,17},{62,52}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>30.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,518},{62,52}}</string>
        <key>offset</key>
        <string>{-15.5,7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,17},{62,52}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>31.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,577},{62,52}}</string>
        <key>offset</key>
        <string>{-15.5,7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,17},{62,52}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>15.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,577},{62,51}}</string>
        <key>offset</key>
        <string>{-17.5,6.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,18},{62,51}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>16.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,582},{62,51}}</string>
        <key>offset</key>
        <string>{-17.5,6.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,18},{62,51}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>19.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,641},{62,51}}</string>
        <key>offset</key>
        <string>{-16.5,6.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,18},{62,51}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>20.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,640},{62,51}}</string>
        <key>offset</key>
        <string>{-16.5,6.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,18},{62,51}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>22.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,645},{62,51}}</string>
        <key>offset</key>
        <string>{-16.5,6.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,18},{62,51}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>boss1_idle.png</string>
      <key>size</key>
      <string>{223,702}</string>
      <key>textureFileName</key>
      <string>boss1_idle</string>
    </dict>
  </dict>
</plist>
