<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>13.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,6},{76,55}}</string>
        <key>offset</key>
        <string>{-14.5,8.5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{9,14},{76,55}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>12.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,73},{75,56}}</string>
        <key>offset</key>
        <string>{-14,8}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{10,14},{75,56}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>11.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,6},{74,55}}</string>
        <key>offset</key>
        <string>{-13.5,8.5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{11,14},{74,55}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>10.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,73},{74,54}}</string>
        <key>offset</key>
        <string>{-13.5,9}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{11,14},{74,54}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>15.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,141},{73,53}}</string>
        <key>offset</key>
        <string>{-14,8.5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{11,15},{73,53}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>14.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,139},{73,54}}</string>
        <key>offset</key>
        <string>{-14,8}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{11,15},{73,54}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>09.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,139},{72,55}}</string>
        <key>offset</key>
        <string>{-13.5,9.5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{12,13},{72,55}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>16.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,73},{71,54}}</string>
        <key>offset</key>
        <string>{-14,8}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{12,15},{71,54}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>08.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,6},{70,55}}</string>
        <key>offset</key>
        <string>{-12.5,9.5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{14,13},{70,55}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>17.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,206},{70,54}}</string>
        <key>offset</key>
        <string>{-13.5,8}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{13,15},{70,54}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>06.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,206},{68,54}}</string>
        <key>offset</key>
        <string>{-12.5,9}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{15,14},{68,54}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>07.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,206},{68,54}}</string>
        <key>offset</key>
        <string>{-12.5,9}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{15,14},{68,54}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>18.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,206},{68,54}}</string>
        <key>offset</key>
        <string>{-13.5,8}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{14,15},{68,54}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>05.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,6},{65,53}}</string>
        <key>offset</key>
        <string>{-12,8.5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{17,15},{65,53}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>19.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,71},{65,55}}</string>
        <key>offset</key>
        <string>{-13,8.5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{16,14},{65,55}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>04.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,138},{63,53}}</string>
        <key>offset</key>
        <string>{-12,8.5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{18,15},{63,53}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>20.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,272},{63,55}}</string>
        <key>offset</key>
        <string>{-13,8.5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{17,14},{63,55}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>02.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,272},{61,51}}</string>
        <key>offset</key>
        <string>{-12,7.5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{19,17},{61,51}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>01.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,272},{61,51}}</string>
        <key>offset</key>
        <string>{-13,7.5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{18,17},{61,51}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>21.png</key>
      <dict>
        <key>frame</key>
        <string>{{227,272},{61,55}}</string>
        <key>offset</key>
        <string>{-13,8.5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{18,14},{61,55}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>03.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,339},{61,52}}</string>
        <key>offset</key>
        <string>{-12,8}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{19,16},{61,52}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>00.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,339},{60,51}}</string>
        <key>offset</key>
        <string>{-13.5,7.5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{18,17},{60,51}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>22.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,335},{60,55}}</string>
        <key>offset</key>
        <string>{-13.5,8.5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{18,14},{60,55}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>23.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,6},{59,56}}</string>
        <key>offset</key>
        <string>{-14,9}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{18,13},{59,56}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>24.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,74},{59,56}}</string>
        <key>offset</key>
        <string>{-14,9}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{18,13},{59,56}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>25.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,142},{58,55}}</string>
        <key>offset</key>
        <string>{-14.5,8.5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{18,14},{58,55}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>26.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,209},{57,55}}</string>
        <key>offset</key>
        <string>{-15,8.5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{18,14},{57,55}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>30.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,339},{57,52}}</string>
        <key>offset</key>
        <string>{-14,7}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{19,17},{57,52}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>31.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,339},{57,52}}</string>
        <key>offset</key>
        <string>{-14,7}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{19,17},{57,52}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>27.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,403},{56,55}}</string>
        <key>offset</key>
        <string>{-14.5,7.5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{19,15},{56,55}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>28.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,403},{56,55}}</string>
        <key>offset</key>
        <string>{-15.5,7.5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{18,15},{56,55}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>29.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,403},{56,54}}</string>
        <key>offset</key>
        <string>{-14.5,7}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{19,16},{56,54}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false />
      <key>realTextureFileName</key>
      <string>boss1_walk.png</string>
      <key>size</key>
      <string>{404,464}</string>
      <key>textureFileName</key>
      <string>boss1_walk</string>
    </dict>
  </dict>
</plist>