<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>12.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,6},{74,46}}</string>
        <key>offset</key>
        <string>{-14.5,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{10,24},{74,46}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>11.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,64},{74,46}}</string>
        <key>offset</key>
        <string>{-14.5,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{10,23},{74,46}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>10.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,6},{72,46}}</string>
        <key>offset</key>
        <string>{-14.5,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{11,23},{72,46}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>14.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,122},{73,45}}</string>
        <key>offset</key>
        <string>{-15,3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{10,24},{73,45}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>13.png</key>
      <dict>
        <key>frame</key>
        <string>{{91,122},{73,45}}</string>
        <key>offset</key>
        <string>{-15,3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{10,24},{73,45}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>09.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,64},{71,45}}</string>
        <key>offset</key>
        <string>{-14,4.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{12,23},{71,45}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>15.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,64},{72,44}}</string>
        <key>offset</key>
        <string>{-14.5,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{11,24},{72,44}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>08.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,6},{69,45}}</string>
        <key>offset</key>
        <string>{-14,4.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,23},{69,45}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>16.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,120},{70,44}}</string>
        <key>offset</key>
        <string>{-14.5,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{12,25},{70,44}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>07.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,176},{68,45}}</string>
        <key>offset</key>
        <string>{-13.5,4.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,23},{68,45}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>17.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,179},{68,45}}</string>
        <key>offset</key>
        <string>{-14.5,3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,24},{68,45}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>18.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,179},{67,45}}</string>
        <key>offset</key>
        <string>{-14,3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,24},{67,45}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>19.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,233},{65,45}}</string>
        <key>offset</key>
        <string>{-14,3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,24},{65,45}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>06.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,236},{66,44}}</string>
        <key>offset</key>
        <string>{-13.5,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,24},{66,44}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>21.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,6},{63,46}}</string>
        <key>offset</key>
        <string>{-14,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{16,23},{63,46}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>23.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,233},{62,46}}</string>
        <key>offset</key>
        <string>{-15.5,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,23},{62,46}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>22.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,120},{62,46}}</string>
        <key>offset</key>
        <string>{-14.5,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{16,23},{62,46}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>20.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,236},{63,45}}</string>
        <key>offset</key>
        <string>{-14,3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{16,24},{63,45}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>05.png</key>
      <dict>
        <key>frame</key>
        <string>{{259,64},{64,44}}</string>
        <key>offset</key>
        <string>{-12.5,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{17,24},{64,44}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>24.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,292},{61,46}}</string>
        <key>offset</key>
        <string>{-16,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,23},{61,46}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>27.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,290},{60,46}}</string>
        <key>offset</key>
        <string>{-17.5,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,24},{60,46}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>25.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,293},{60,46}}</string>
        <key>offset</key>
        <string>{-16.5,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,23},{60,46}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>26.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,291},{61,45}}</string>
        <key>offset</key>
        <string>{-17,3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,24},{61,45}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>04.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,178},{63,43}}</string>
        <key>offset</key>
        <string>{-13,3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{17,25},{63,43}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>28.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,6},{60,45}}</string>
        <key>offset</key>
        <string>{-17.5,2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,25},{60,45}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>29.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,291},{61,44}}</string>
        <key>offset</key>
        <string>{-17,2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,26},{61,44}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>02.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,233},{63,42}}</string>
        <key>offset</key>
        <string>{-14,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{16,26},{63,42}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>03.png</key>
      <dict>
        <key>frame</key>
        <string>{{331,178},{62,42}}</string>
        <key>offset</key>
        <string>{-13.5,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{17,26},{62,42}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>30.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,120},{60,43}}</string>
        <key>offset</key>
        <string>{-16.5,2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,26},{60,43}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>31.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,350},{61,42}}</string>
        <key>offset</key>
        <string>{-16,2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,27},{61,42}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>01.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,347},{62,41}}</string>
        <key>offset</key>
        <string>{-14.5,2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{16,27},{62,41}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>00.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,348},{62,41}}</string>
        <key>offset</key>
        <string>{-15.5,2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,27},{62,41}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>boss2_walk.png</string>
      <key>size</key>
      <string>{399,398}</string>
      <key>textureFileName</key>
      <string>boss2_walk</string>
    </dict>
  </dict>
</plist>
