<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_25-V3-Walk_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,6},{66,51}}</string>
        <key>offset</key>
        <string>{-22.5,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,19},{66,51}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>monster_25-V3-Walk_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,69},{66,50}}</string>
        <key>offset</key>
        <string>{-22.5,5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,20},{66,50}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>monster_25-V3-Walk_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,6},{65,50}}</string>
        <key>offset</key>
        <string>{-22,6}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{7,19},{65,50}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>monster_25-V3-Walk_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,83},{65,50}}</string>
        <key>offset</key>
        <string>{-22,6}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{7,19},{65,50}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>monster_25-V3-Walk_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,131},{65,49}}</string>
        <key>offset</key>
        <string>{-22,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{7,20},{65,49}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>monster_25-V3-Walk_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,6},{63,50}}</string>
        <key>offset</key>
        <string>{-21,7}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{9,18},{63,50}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>monster_25-V3-Walk_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,81},{61,50}}</string>
        <key>offset</key>
        <string>{-21,7}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{10,18},{61,50}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>monster_25-V3-Walk_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,154},{64,47}}</string>
        <key>offset</key>
        <string>{-22.5,5.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{7,21},{64,47}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>monster_25-V3-Walk_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{83,160},{61,49}}</string>
        <key>offset</key>
        <string>{-22,5.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{9,20},{61,49}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>monster_25-V3-Walk_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,192},{62,48}}</string>
        <key>offset</key>
        <string>{-22.5,5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,21},{62,48}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>monster_25-V3-Walk_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,154},{58,50}}</string>
        <key>offset</key>
        <string>{-20.5,7}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{12,18},{58,50}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>monster_25-V3-Walk_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,6},{58,49}}</string>
        <key>offset</key>
        <string>{-21.5,5.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{11,20},{58,49}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>monster_25-V3-Walk_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,76},{56,49}}</string>
        <key>offset</key>
        <string>{-19.5,6.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{14,19},{56,49}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>monster_25-V3-Walk_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,224},{55,49}}</string>
        <key>offset</key>
        <string>{-21,5.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{13,20},{55,49}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>monster_25-V3-Walk_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,233},{52,50}}</string>
        <key>offset</key>
        <string>{-20.5,6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,19},{52,50}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>monster_25-V3-Walk_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,252},{53,49}}</string>
        <key>offset</key>
        <string>{-19,6.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{16,19},{53,49}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>monster_25-V3-Walk_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,230},{48,50}}</string>
        <key>offset</key>
        <string>{-19.5,6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,19},{48,50}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>monster_25-V3-Walk_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,224},{50,48}}</string>
        <key>offset</key>
        <string>{-18.5,6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,20},{50,48}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>monster_25-V3-Walk_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,144},{48,49}}</string>
        <key>offset</key>
        <string>{-18.5,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19,20},{48,49}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>monster_25-V3-Walk_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,6},{47,50}}</string>
        <key>offset</key>
        <string>{-20,6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,19},{47,50}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>monster_25-V3-Walk_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,68},{45,51}}</string>
        <key>offset</key>
        <string>{-20,6.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19,18},{45,51}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>monster_25-V3-Walk_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,284},{45,51}}</string>
        <key>offset</key>
        <string>{-21,6.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,18},{45,51}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>monster_25-V3-Walk_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,291},{47,48}}</string>
        <key>offset</key>
        <string>{-19,5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19,21},{47,48}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>monster_25-V3-Walk_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,292},{47,48}}</string>
        <key>offset</key>
        <string>{-20,5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,21},{47,48}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>monster_25-V3-Walk_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{71,295},{44,51}}</string>
        <key>offset</key>
        <string>{-20.5,6.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19,18},{44,51}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>monster_25-V3-Walk_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,313},{43,52}}</string>
        <key>offset</key>
        <string>{-21,5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{19,19},{43,52}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>monster_25-V3-Walk_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,68},{46,48}}</string>
        <key>offset</key>
        <string>{-20.5,5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,21},{46,48}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>monster_25-V3-Walk_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{323,284},{43,51}}</string>
        <key>offset</key>
        <string>{-21,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19,19},{43,51}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>monster_25-V3-Walk_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,128},{43,51}}</string>
        <key>offset</key>
        <string>{-21,4.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19,20},{43,51}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>monster_25-V3-Walk_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,191},{43,51}}</string>
        <key>offset</key>
        <string>{-21,4.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19,20},{43,51}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>monster_25-V3-Walk_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,6},{44,49}}</string>
        <key>offset</key>
        <string>{-20.5,4.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19,21},{44,49}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
      <key>monster_25-V3-Walk_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,347},{44,49}}</string>
        <key>offset</key>
        <string>{-20.5,4.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19,21},{44,49}}</string>
        <key>sourceSize</key>
        <string>{123,100}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>boss3_walk.png</string>
      <key>size</key>
      <string>{378,402}</string>
      <key>textureFileName</key>
      <string>boss3_walk</string>
    </dict>
  </dict>
</plist>
