<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>19.png</key>
      <dict>
        <key>frame</key>
        <string>{{8,8},{274,260}}</string>
        <key>offset</key>
        <string>{57.5,9.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{164,97},{274,260}}</string>
        <key>sourceSize</key>
        <string>{487,473}</string>
      </dict>
      <key>00.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,8},{276,261}}</string>
        <key>offset</key>
        <string>{57.5,9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{163,97},{276,261}}</string>
        <key>sourceSize</key>
        <string>{487,473}</string>
      </dict>
      <key>01.png</key>
      <dict>
        <key>frame</key>
        <string>{{590,8},{274,261}}</string>
        <key>offset</key>
        <string>{58.5,9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{165,97},{274,261}}</string>
        <key>sourceSize</key>
        <string>{487,473}</string>
      </dict>
      <key>14.png</key>
      <dict>
        <key>frame</key>
        <string>{{880,8},{268,261}}</string>
        <key>offset</key>
        <string>{59.5,9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{169,97},{268,261}}</string>
        <key>sourceSize</key>
        <string>{487,473}</string>
      </dict>
      <key>15.png</key>
      <dict>
        <key>frame</key>
        <string>{{1164,8},{271,261}}</string>
        <key>offset</key>
        <string>{60,9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{168,97},{271,261}}</string>
        <key>sourceSize</key>
        <string>{487,473}</string>
      </dict>
      <key>16.png</key>
      <dict>
        <key>frame</key>
        <string>{{1451,8},{272,261}}</string>
        <key>offset</key>
        <string>{59.5,9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{167,97},{272,261}}</string>
        <key>sourceSize</key>
        <string>{487,473}</string>
      </dict>
      <key>17.png</key>
      <dict>
        <key>frame</key>
        <string>{{1739,8},{268,261}}</string>
        <key>offset</key>
        <string>{56.5,9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{166,97},{268,261}}</string>
        <key>sourceSize</key>
        <string>{487,473}</string>
      </dict>
      <key>18.png</key>
      <dict>
        <key>frame</key>
        <string>{{8,284},{268,261}}</string>
        <key>offset</key>
        <string>{55.5,9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{165,97},{268,261}}</string>
        <key>sourceSize</key>
        <string>{487,473}</string>
      </dict>
      <key>02.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,285},{271,262}}</string>
        <key>offset</key>
        <string>{58,8.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{166,97},{271,262}}</string>
        <key>sourceSize</key>
        <string>{487,473}</string>
      </dict>
      <key>03.png</key>
      <dict>
        <key>frame</key>
        <string>{{579,285},{266,262}}</string>
        <key>offset</key>
        <string>{56.5,8.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{167,97},{266,262}}</string>
        <key>sourceSize</key>
        <string>{487,473}</string>
      </dict>
      <key>04.png</key>
      <dict>
        <key>frame</key>
        <string>{{861,285},{268,262}}</string>
        <key>offset</key>
        <string>{57.5,8.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{167,97},{268,262}}</string>
        <key>sourceSize</key>
        <string>{487,473}</string>
      </dict>
      <key>05.png</key>
      <dict>
        <key>frame</key>
        <string>{{1145,285},{270,262}}</string>
        <key>offset</key>
        <string>{60.5,8.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{169,97},{270,262}}</string>
        <key>sourceSize</key>
        <string>{487,473}</string>
      </dict>
      <key>12.png</key>
      <dict>
        <key>frame</key>
        <string>{{1431,285},{265,262}}</string>
        <key>offset</key>
        <string>{59,9.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{170,96},{265,262}}</string>
        <key>sourceSize</key>
        <string>{487,473}</string>
      </dict>
      <key>13.png</key>
      <dict>
        <key>frame</key>
        <string>{{1712,285},{263,262}}</string>
        <key>offset</key>
        <string>{58,9.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{170,96},{263,262}}</string>
        <key>sourceSize</key>
        <string>{487,473}</string>
      </dict>
      <key>07.png</key>
      <dict>
        <key>frame</key>
        <string>{{8,561},{266,263}}</string>
        <key>offset</key>
        <string>{60.5,9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{171,96},{266,263}}</string>
        <key>sourceSize</key>
        <string>{487,473}</string>
      </dict>
      <key>06.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,563},{269,263}}</string>
        <key>offset</key>
        <string>{61,9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{170,96},{269,263}}</string>
        <key>sourceSize</key>
        <string>{487,473}</string>
      </dict>
      <key>08.png</key>
      <dict>
        <key>frame</key>
        <string>{{575,563},{261,263}}</string>
        <key>offset</key>
        <string>{58,9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{171,96},{261,263}}</string>
        <key>sourceSize</key>
        <string>{487,473}</string>
      </dict>
      <key>09.png</key>
      <dict>
        <key>frame</key>
        <string>{{852,563},{266,263}}</string>
        <key>offset</key>
        <string>{60.5,9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{171,96},{266,263}}</string>
        <key>sourceSize</key>
        <string>{487,473}</string>
      </dict>
      <key>10.png</key>
      <dict>
        <key>frame</key>
        <string>{{1134,563},{268,263}}</string>
        <key>offset</key>
        <string>{61.5,9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{171,96},{268,263}}</string>
        <key>sourceSize</key>
        <string>{487,473}</string>
      </dict>
      <key>11.png</key>
      <dict>
        <key>frame</key>
        <string>{{1418,563},{269,263}}</string>
        <key>offset</key>
        <string>{61,9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{170,96},{269,263}}</string>
        <key>sourceSize</key>
        <string>{487,473}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>BoyGun.png</string>
      <key>size</key>
      <string>{2015,834}</string>
      <key>textureFileName</key>
      <string>BoyGun</string>
    </dict>
  </dict>
</plist>
